/_build/
/archives/
/cover/
/deps/
/doc/
/elixir/
/packages/
/tmp/
/.fetch

# JUnit reports produced during CI test runs.
/test/reports/

cache.ets
erl_crash.dump
hex.config
*.ez
uof_messages-*.tar
*~